doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Judul
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    script(src='js/lib.js')
    script(src='js/app.js')
  body
    audio#audio-welcome(src="tes.mp4",loop).hide
    .container
       h1 Hi

       form(id="send", action='.')
         input(type='text', value='message')
         input(type='submit', value='Send').btn.btn-primary

       #messages
         | hi

