extends ../layout/cover

block content
   #about-us
      h2 Tentang Kami
      p.
         Obrolan Penting adalah wadah, tempat kita berbagi banyak hal - keluh dan kesah, ide dan gagasan, pikiran dan tenaga,
         bahkan harta dan jiwa – untuk satu kebaikan, yaitu mewujudkan Banten yang lebih baik.
      p.
         Obrolan Penting berawal dari sebuah keprihatinan, bahwa di sekitar kita ada begitu banyak masalah yang perlu
         diselesaikan; berawal dari sebuah rasa ketidakberdayaan, bahwa masalah tersebut cukuplah kompleks, sehingga rasanya
         tidak dapat diselesaikan sendirian;  juga berawal dari sebuah keyakinan, bahwa ada sekian banyak orang yang
         sebenarnya peduli dan mau secara konkret menyelesaikan permasalahan yang kompleks tersebut, yang sayangnya, masih
         belum saling terhubung satu sama lain.
      p.
         Dengan berbentuk website, Obrolan Penting dapat menjadi wadah yang dapat menghubungkan banyak orang dari berbagai
         belahan dunia manapun, untuk saling berinteraksi dan berbagi banyak hal. Dengan menawarkan berbagai pilihan
         kontribusi –ide, gagasan, waktu, tenaga, atau harta, Obrolan Penting memudahkan kita untuk berbuat sesuatu.
         Dengan begitu, harapannya, Obrolan Penting membantu kita menyederhanakan alasan-alasan kita untuk berkontribusi
         nyata untuk Banten kita tercinta, bahkan menghilangkannya. Sehingga, semakin banyak orang akan peduli dan terlibat
         dengan caranya masing-masing, untuk menyelesaikan banyaknya permasalahan yang ada. Kemudian, pada akhirnya, banyak
         permasalahan yang akhirnya diselesaikan.