extends ../layout/cover

block content
  form#testimony-form(action=link('testimony.post'),method='post')
    h1.cover-heading Menurut kamu, Banten itu ...
    p.lead
      textarea#testimony-field.testimony.form-control(row=3, name='testimony')
    p.lead
      button#btn-teriak.btn.btn-lg.btn-submit.btn-default(href='#') Teriakkan!

append body
  #submit-dialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='User Info', aria-hidden='true')
    .modal-dialog
      form.form.modal-content.ajax-form(action=link('testimony.post'),method='post')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title kami ingin kenal kamu lebih jauh
        .modal-body
          p Beritahu kami tentang siapa kamu
          .row
            .col-sm-8
              .form-group
                input.form-control(type='text', name='name', placeholder='Nama Lengkap', required)
              .form-group
                input.form-control(type='email', name='email', required, placeholder='Email (nama@host.com)')
              .form-group
                .input-group
                  .input-group-addon @
                  input#twitter-field.form-control(type='text', name='twitter', placeholder='twitter_id')
            .col-sm-4.hidden-xs
              .picture
                img#twitter-photo(src='/img/dummy-person.jpg')
          input#testimony-hidden-field(type='hidden', name='text')
          input#photo-hidden-field(type='hidden', name='photo')
        .modal-footer
          i.fa.fa-spinner.fa-spin.loader(style='display:none')
          button.btn.btn-default(type='button', data-dismiss='modal') Batal
          button.btn.btn-primary(type='submit') Brangkat!


    
