doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Obrolan Penting: Sepenting apa obrolanmu?')
    meta(name='author', content='Abi Hafshin Alfarouq (http://hafs.in) <abi@hafs.in>')
    link(rel='icon', href='/img/favicon.png')
    title= title ||  'Obrolan Penting'
    
    block css
      if !DEBUG
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Maven+Pro:500', rel='stylesheet')
      else
        link(href='/dist/bootstrap-3.3.2/css/bootstrap.min.css', rel='stylesheet')
        link(href='/dist/google-font/font.css', rel='stylesheet')
        link(href='/dist/font-awesome-4.3.0/css/font-awesome.min.css', rel='stylesheet')

      link(href='/css/style.css', rel='stylesheet')

    block ie-js
      //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  - if (!req.router_name) req.router_name = ''
  body(class=body_class,id='page-'+req.router_name.replace('.','-'))
    block body
    block js
      if !DEBUG
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
      else
        script(src='/dist/jquery-1.11.2/jquery.min.js')
        script(src='/dist/bootstrap-3.3.2/js/bootstrap.min.js')
      script(src='/js/app.js')
      //- IE10 viewport hack for Surface/desktop Windows 8 bug
      //- script(src='../../assets/js/ie10-viewport-bug-workaround.js')
