
a,
a:focus,
a:hover
  color #1a237e

.btn-default,
.btn-default:hover,
.btn-default:focus
  color #333
  text-shadow none
  background-color #fff
  border 1px solid #fff

html, body
  height 100%
// #background-color #f0f0f0

.modal-title
  text-align center
  font-weight bold

