
html, body
  height 100%
// #background-color #f0f0f0

.modal-title
  text-align center
  font-weight bold

body
  padding-top 70px

#header
  .navbar
    border-bottom 4px solid #ffc400

  .navbar-brand
    text-transform uppercase
    font-family  'Yanone Kaffeesatz', sans-serif
    font-weight bold
    font-size 1.5em

    img
      width 30px
      display inline
      margin-right 3px

#content
  min-height 400px
#footer
  margin-top 50px
  text-align center
  font-size .8em
  color #777