

.layout-home
  background #f0f0f0 url(/img/background/love_banten.jpg) center center
  background-size cover
  background-attachment fixed
  transition all .5s
  padding 0

  a,
  a:focus,
  a:hover
    color #eee


  .container
    text-align center
    color #fff
    display table
    width 100%
    height 100%
    min-height 100%
    box-shadow inset 0 0 50px rgba(0,0,0,.5)
    padding 0
    background-color rgba(0, 0, 0, .3)
    
  .container-inner
    display table-cell
    vertical-align top

  .cover-container
    margin-right auto
    margin-left auto

  .padding-10
    padding 10px

  .header
    .title
      text-transform uppercase
      font-family  'Yanone Kaffeesatz', sans-serif
      font-weight bold
      font-size 2em
      margin-top 10px
      margin-bottom 10px
      span
        line-height 35px
      img 
        margin-right 5px
        vertical-align -3px
  
  .content
    font-family Maven Pro, sans-serif
    .inner
      margin-top 60px
      margin-bottom 40px

  .btn-submit
    background-color #ffc400
    color #000
    border none
    font-weight bold
    padding-right 20px
    padding-left 20px
    
  .testimony
    opacity .5
    border-radius 10px
    transition all .2s
    margin-left auto
    margin-right auto
    height 70px
    border 1px solid #fff
    
    &:focus
      opacity 1
      height 100px
      border 1px solid #d0ac00
      box-shadow 0 0 7px #d0ac00

  .nav
    & > li
      display inline-block
      & + li
        margin-left 20px
      & > a
        padding-right 0
        padding-left 0
        font-size 16px
        font-weight bold
        color #fff
        color rgba(255,255,255,.75)
        border-bottom 2px solid transparent

      & > a:hover,
      & > a:focus
        background-color transparent
        border-bottom-color #a9a9a9
        border-bottom-color rgba(255,255,255,.25)

      &.active > a,
      &.active > a:hover,
      &.active > a:focus
        color #fff
        border-bottom-color #fff

  .footer
    color #999
    color rgba(255,255,255,.5)
    text-align center
  
  .header, .footer
    width 100%


  @media (min-width: 768px)
    .header
      .brand
        float: left
      .nav
        float: right

    &.page-index
      .header
        position: fixed
        top: 0
      .footer
        position fixed
        bottom 0

      .container-inner
        vertical-align: middle


  @media (min-width: 992px) 
    .container-inner, .header, .footer
      margin-left auto
      margin-right auto
      width: 740px
      
  &.page-about .container
    background-color rgba(0, 0, 0, .7)
  #about-us
    font-size 15pt

#page-home-index
  #submit-dialog .picture
    position relative
    overflow hidden
    img
      display block
      width 100%
