


// @import 'bootstrap'

a,
a:focus,
a:hover
  color #1a237e

.btn-default,
.btn-default:hover,
.btn-default:focus
  color #333
  text-shadow none
  background-color #fff
  border 1px solid #fff

html, body
  height 100% 
  // #background-color #f0f0f0

.modal-title
  text-align center
  font-weight bold

.layout-cover
  background #f0f0f0 url(/img/background/love_banten.jpg) center center
  background-size cover
  transition all .5s
  
  .container
    // font-family Lora, serif
    text-align center
    color #fff
    display table
    width 100%
    height 100%
    min-height 100%
    box-shadow inset 0 0 50px rgba(0,0,0,.5)
    
  .container-inner
    display table-cell
    vertical-align top

  .cover-container
    margin-right auto
    margin-left auto

  .header
    .title
      text-transform uppercase
      font-family  'Yanone Kaffeesatz', sans-serif
      font-weight bold
      font-size 2em
      margin-top 10px
      margin-bottom 10px
      span
        line-height 35px
      img 
        margin-right 5px
        vertical-align -3px
  
  .content
    font-family Maven Pro, sans-serif
  .btn-submit
    background-color #ffc400
    color #000
    border none
    font-weight bold
    padding-right 20px
    padding-left 20px
    
  .testimoni
    opacity .5
    border-radius 10px
    transition all .2s
    max-width 500px
    margin-left auto
    margin-right auto
    height 70px
    border 1px solid #fff
    
    &:focus
      opacity 1
      max-width 100%
      height 100px
      border 1px solid #d0ac00
      box-shadow 0 0 7px #d0ac00

  .nav
    & > li
      display inline-block
      & + li
        margin-left 20px
      & > a
        padding-right 0
        padding-left 0
        font-size 16px
        font-weight bold
        color #fff
        color rgba(255,255,255,.75)
        border-bottom 2px solid transparent

      & > a:hover,
      & > a:focus
        background-color transparent
        border-bottom-color #a9a9a9
        border-bottom-color rgba(255,255,255,.25)

      &.active > a,
      &.active > a:hover,
      &.active > a:focus
        color #fff
        border-bottom-color #fff

  .footer
    color #999
    color rgba(255,255,255,.5)
    text-align center
  
  .header, .footer
    width 100%

  @media (min-width: 768px) 
    .header
      position: fixed
      top: 0
      .brand
        float: left
      .nav
        float: right
    
    .footer
      position fixed
      bottom 0

    .container-inner
      vertical-align: middle
      width: 100%
      margin-left auto
      margin-right auto

  @media (min-width: 992px) 
    .container-inner, .header, .footer
      width: 700px
      

