//
   Created by abie on 3/3/15.

extend ../layout/default
block content
  h2.title Banten Menurut Mereka
  form.form-inline(method='post',action=link('user.do_login'))
    .form-group
      label.sr-only(for='form-login-email') Email
      input#form-login-email.form-control(type='email',name='email')
    .form-group
      label.sr-only(for='form-login-email') Email
      input#form-login-email.form-control(type='email',name='email')

    button.btn.btn-default(type='submit') Log In
