extends base_layout

append css
  link(href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700', rel='stylesheet', type='text/css')

block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Obrolan Penting
            nav
              ul.nav.masthead-nav
                li.active: a(href='#') Home
                li: a(href='#') About Us
                
        .inner.cover
          h1.cover-heading Menurut kamu, Banten itu ....
          p.lead
            textarea.form-control(row=3)
          p.lead
            a.btn.btn-lg.btn-default(href='#') Teriakkan!

        .mastfoot
          .inner
            p
              | &copy; 2015 Obrolan Penting |
              a(href='http://facebook.com/obrolanpenting') Facebook
              | |
              a(href='https://twitter.com/obrolanpenting') Twitter
              | 


  

    
