extends base_layout

block body
  .site-wrapper
    .site-wrapper-inner
      block header
        .masthead.clearfix
          .inner
            h3.masthead-brand Cover
            nav
              ul.nav.masthead-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#') Features
                li
                  a(href='#') Contact
      block content
        hi
      block footer
        .mastfoot
          .inner
            p
              | Cover template for 
              a(href='http://getbootstrap.com') Bootstrap
              | , by 
              a(href='https://twitter.com/mdo') @mdo
              | .